[submodule "getting-started-with-fastapi"]
	path = getting-started-with-fastapi
	url = https://github.com/python-spokane/getting-started-with-fastapi.git
[submodule "typing-for-fun-and-profit"]
	path = typing-for-fun-and-profit
	url = https://github.com/python-spokane/typing-for-fun-and-profit.git
[submodule "kubernetes-and-python"]
	path = kubernetes-and-python
	url = https://github.com/python-spokane/kubernetes-and-python.git
[submodule "background-task-processing"]
	path = background-task-processing
	url = https://github.com/python-spokane/background-task-processing.git
[submodule "statis-site-generation-with-mkdocs"]
	path = static-site-generation-with-mkdocs
	url = https://github.com/python-spokane/static-site-generation-with-mkdocs.git
[submodule "welcome-to-the-jungle"]
	path = welcome-to-the-jungle
	url = https://github.com/python-spokane/welcome-to-the-jungle.git
[submodule "journey-to-the-pythonic-peak"]
	path = journey-to-the-pythonic-peak
	url = https://github.com/python-spokane/journey-to-the-pythonic-peak.git
