@font-face {
  font-family: "Rotundo";
  src:
    url("/static/Rotundo-Regular.woff2") format('woff2'),
    url("/static/Rotundo-Regular.woff") format('woff'),
    url("/static/Rotundo-Regular.ttf") format('truetype'),
    url("/static/Rotundo-Regular.otf") format('opentype');
}

h1,
.md-header {
  font-family: "Rotundo";
}
