@font-face {
  font-family: "Rotundo";
  src:
    url("/static/Rotundo-Regular.woff2") format('woff2'),
    url("/static/Rotundo-Regular.woff") format('woff'),
    url("/static/Rotundo-Regular.ttf") format('truetype'),
    url("/static/Rotundo-Regular.otf") format('opentype');
}

html {
    scroll-behavior: smooth;
}

h1,
.md-header {
  font-family: "Rotundo";
}

h3 {
    font-weight: bold !important;
}

article img, article iframe {
    border-radius: 4px;
}

.twemoji {
    color: #3ec930;
}
